body {
    font-family: "Poppins", sans-serif;
    color: #434455;
    background-color: #FFF;
    block-size: border-box;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
}

a {
    text-decoration: none;
    color: currentColor;
}

img{
 display: block;
 width: 100%;
}

h1,
h2,
h3,
p{
  margin: auto;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #161439;
    padding: 11px 0;
    margin: 0 auto;
}

.conteiner{
    width: 1650px;
    padding: 0 135px ;
}

.nav{
    display: flex;
    justify-content: space-between;
    
}

.address-list{
display: flex;
justify-content: center;
align-items: center;
gap: 10px;
font-weight: 500;
font-size: 14px;
line-height: 1.75;
color: #e6eaef;
}

.address-link{
    display: flex;
}

.contacts-list{
display: flex;
justify-content: center;
align-items: center;
font-weight: 500;
font-size: 14px;
line-height: 1.75;
color: #e6eaef;
gap: 10px;
}

.icon-contacts{
    color: #e7effc;;
}

.logo-icon{
    border-radius: 50%;
    color: #5751e1;
}
